.header__name {
    color: rgb(255, 255, 255);
    background-color: #004562;
    border-radius: 5px;
    border-width: 3px 1px;
    border-style: solid;
    border-color: rgb(121, 118, 118);
    margin: auto;
    margin-bottom: 35px;
    font-size: 25px;
    font-family: "Lato", sans-serif;
    text-align: center;
    padding: 5px;
}

.header {
    margin: 0 auto;
}

.header__imageContainer {
    max-width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
    text-align: center;
}

.header__image {
    border-color: #3d3d3d;
    border-radius: 12px;
    box-shadow: 3px 3px 5px 3px #838383;
}

.header__button {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.section__imageContainer {
    overflow-x: auto;
    margin: 0 auto;
    display: block;
    border-radius: 12px;
    text-align: center;
    padding: 5px; 
 }

.section__image {
    border-color: #3d3d3d;
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 3px 3px 5px 3px #838383;
}