html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-image: url('https://i.ibb.co/dQB7vFF/discgolfx.jpg');
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    font-family: "Lato", sans-serif;
    padding: 10px 40px 40px 40px;
    overflow-x: auto;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.5;
}

.text {
    text-align: justify;
}

.button {
    margin: auto 0;
}

.dark {
    color: #f1f1f1;
    background: hsl(0, 0%, 63%);
}

.background {
    background-color: rgb(255, 255, 250);
}

